POSTGRES_USER=ncm_user
POSTGRES_PASSWORD=ncm_secure_pass_123
POSTGRES_DB=ncm_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

ENCRYPTION_KEY=rahasia-banget-bebas-apa-saja-ganti-di-produksi

DATABASE_URL=postgresql://ncm_user:ncm_secure_pass_123@localhost:5432/ncm_db

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
